# In this we will look at the submission csv

In [3]:
import pandas as pd

# Specify the file path to your CSV file
file_path = 'submission_format.csv'

# Read the CSV file into a DataFrame
sub_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(len(sub_df))
display(sub_df.head(20))

61920

                      ID  Value
0    KDEN_220925_0100_15     99
1    KDEN_220925_0100_30     99
2    KDEN_220925_0100_45     99
3    KDEN_220925_0100_60     99
4    KDEN_220925_0100_75     99
5    KDEN_220925_0100_90     99
6   KDEN_220925_0100_105     99
7   KDEN_220925_0100_120     99
8   KDEN_220925_0100_135     99
9   KDEN_220925_0100_150     99
10  KDEN_220925_0100_165     99
11  KDEN_220925_0100_180     99
12   KDEN_220925_0500_15     99
13   KDEN_220925_0500_30     99
14   KDEN_220925_0500_45     99
15   KDEN_220925_0500_60     99
16   KDEN_220925_0500_75     99
17   KDEN_220925_0500_90     99
18  KDEN_220925_0500_105     99
19  KDEN_220925_0500_120     99

In [11]:
import pandas as pd
from datetime import datetime


# Extract airport code (first 4 characters before the underscore)
sub_df['airport_code'] = sub_df['ID'].str.extract(r'(^[A-Z]{4})')

# Extract date-time from the string
def parse_datetime(datetime_str):
    # Split by underscore and extract the date and time
    parts = datetime_str.split('_')
    date_str, time_str = parts[1], parts[2]  # Extract date and time

    # Convert to proper datetime format
    try:
        return datetime.strptime(date_str + time_str, '%y%m%d%H%M')
    except ValueError:
        # Return None if the datetime format doesn't match
        return None

# Apply the parsing function to create the datetime column
sub_df['datetime'] = sub_df['ID'].apply(parse_datetime)

# Display the resulting DataFrame
display(sub_df.head())

                    ID  Value airport_code            datetime
0  KDEN_220925_0100_15     99         KDEN 2022-09-25 01:00:00
1  KDEN_220925_0100_30     99         KDEN 2022-09-25 01:00:00
2  KDEN_220925_0100_45     99         KDEN 2022-09-25 01:00:00
3  KDEN_220925_0100_60     99         KDEN 2022-09-25 01:00:00
4  KDEN_220925_0100_75     99         KDEN 2022-09-25 01:00:00

In [19]:
import pandas as pd

sub_df['minutes_past'] = sub_df['ID'].str.split('_').str[-1].astype(int)
display(sub_df)

,ID,Value,airport_code,datetime,minutes_past
0,KDEN_220925_0100_15,99,KDEN,2022-09-25 01:00:00,15
1,KDEN_220925_0100_30,99,KDEN,2022-09-25 01:00:00,30
2,KDEN_220925_0100_45,99,KDEN,2022-09-25 01:00:00,45
3,KDEN_220925_0100_60,99,KDEN,2022-09-25 01:00:00,60
4,KDEN_220925_0100_75,99,KDEN,2022-09-25 01:00:00,75
...,...,...,...,...,...
61915,KJFK_230818_2100_120,99,KJFK,2023-08-18 21:00:00,120
61916,KJFK_230818_2100_135,99,KJFK,2023-08-18 21:00:00,135
61917,KJFK_230818_2100_150,99,KJFK,2023-08-18 21:00:00,150
61918,KJFK_230818_2100_165,99,KJFK,2023-08-18 21:00:00,165
61919,KJFK_230818_2100_180,99,KJFK,2023-08-18 21:00:00,180

In [27]:
# Define the bin edges and corresponding labels
bins = [0, 15, 30, 45, 60, 75, 90, 105, 120, 135, 150, 165, 180]  # Up to 180 minutes (3 hours)
labels = list(range(1, 13)) # Bin labels from 1 to 13

# Assign bins based on `minutes_past`, with 15 belonging to bin 2
sub_df['bin'] = pd.cut(sub_df['minutes_past'], bins=bins, labels=labels, right=True, include_lowest=True)

# Display the updated DataFrame
display(sub_df.head(20))

,ID,Value,airport_code,datetime,minutes_past,bin
0,KDEN_220925_0100_15,99,KDEN,2022-09-25 01:00:00,15,1
1,KDEN_220925_0100_30,99,KDEN,2022-09-25 01:00:00,30,2
2,KDEN_220925_0100_45,99,KDEN,2022-09-25 01:00:00,45,3
3,KDEN_220925_0100_60,99,KDEN,2022-09-25 01:00:00,60,4
4,KDEN_220925_0100_75,99,KDEN,2022-09-25 01:00:00,75,5
5,KDEN_220925_0100_90,99,KDEN,2022-09-25 01:00:00,90,6
6,KDEN_220925_0100_105,99,KDEN,2022-09-25 01:00:00,105,7
7,KDEN_220925_0100_120,99,KDEN,2022-09-25 01:00:00,120,8
8,KDEN_220925_0100_135,99,KDEN,2022-09-25 01:00:00,135,9
9,KDEN_220925_0100_150,99,KDEN,2022-09-25 01:00:00,150,10
10,KDEN_220925_0100_165,99,KDEN,2022-09-25 01:00:00,165,11
11,KDEN_220925_0100_180,99,KDEN,2022-09-25 01:00:00,180,12
12,KDEN_220925_0500_15,99,KDEN,2022-09-25 05:00:00,15,1
13,KDEN_220925_0500_30,99,KDEN,2022-09-25 05:00:00,30,2
14,KDEN_220925_0500_45,99,KDEN,2022-09-25 05:00:00,45,3
15,KDEN_220925_0500_60,99,KDEN,2022-09-25 05:00:00,60,4
16,KDEN_220925_0500_75,99,KDEN,2022-09-25 05:00:00,75,5
17,KDEN_220925_0500_90,99,KDEN,2022-09-25 05:00:00,90,6
18,KDEN_220925_0500_105,99,KDEN,2022-09-25 05:00:00,105,7
19,KDEN_220925_0500_120,99,KDEN,2022-09-25 05:00:00,120,8

In [28]:
TEMP_PATH = '/projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata'

In [31]:
TEMP_PATH = '/projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata'

# Save the DataFrame as a CSV file
sub_df.to_csv(f'{TEMP_PATH}/subark.csv', index=False)

print(f"DataFrame saved to {TEMP_PATH}/subark.csv")

DataFrame saved to /projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata/subark.csv

## Read In Code

In [1]:
import pandas as pd

TEMP_PATH = '/projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata'

# Load the DataFrame from the saved CSV file
loaded_df = pd.read_csv(f'{TEMP_PATH}/subark.csv')

# Display the loaded DataFrame
print("Loaded DataFrame:")
display(loaded_df)

Loaded DataFrame:

,ID,Value,airport_code,datetime,minutes_past,bin
0,KDEN_220925_0100_15,99,KDEN,2022-09-25 01:00:00,15,1
1,KDEN_220925_0100_30,99,KDEN,2022-09-25 01:00:00,30,2
2,KDEN_220925_0100_45,99,KDEN,2022-09-25 01:00:00,45,3
3,KDEN_220925_0100_60,99,KDEN,2022-09-25 01:00:00,60,4
4,KDEN_220925_0100_75,99,KDEN,2022-09-25 01:00:00,75,5
...,...,...,...,...,...,...
61915,KJFK_230818_2100_120,99,KJFK,2023-08-18 21:00:00,120,8
61916,KJFK_230818_2100_135,99,KJFK,2023-08-18 21:00:00,135,9
61917,KJFK_230818_2100_150,99,KJFK,2023-08-18 21:00:00,150,10
61918,KJFK_230818_2100_165,99,KJFK,2023-08-18 21:00:00,165,11
61919,KJFK_230818_2100_180,99,KJFK,2023-08-18 21:00:00,180,12

In [2]:
file_path = '/projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata/finalSub.csv'
loaded_df = pd.read_csv(file_path)

# Display the loaded DataFrame
display(loaded_df)

,ID,Value,airport_code,datetime,minutes_past,bin
0,KDEN_220925_0100_15,5,KDEN,2022-09-25 01:00:00,15,1
1,KDEN_220925_0100_30,4,KDEN,2022-09-25 01:00:00,30,2
2,KDEN_220925_0100_45,3,KDEN,2022-09-25 01:00:00,45,3
3,KDEN_220925_0100_60,10,KDEN,2022-09-25 01:00:00,60,4
4,KDEN_220925_0100_75,13,KDEN,2022-09-25 01:00:00,75,5
...,...,...,...,...,...,...
61915,KJFK_230818_2100_120,6,KJFK,2023-08-18 21:00:00,120,8
61916,KJFK_230818_2100_135,23,KJFK,2023-08-18 21:00:00,135,9
61917,KJFK_230818_2100_150,14,KJFK,2023-08-18 21:00:00,150,10
61918,KJFK_230818_2100_165,6,KJFK,2023-08-18 21:00:00,165,11
61919,KJFK_230818_2100_180,19,KJFK,2023-08-18 21:00:00,180,12

In [5]:
import pandas as pd

# Load the DataFrame
file_path = '/projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata/finalSub.csv'
loaded_df = pd.read_csv(file_path)

# Display 200 rows in a scrollable format
pd.set_option('display.max_rows', 200)  # Set the max rows displayed to 200

# Display the DataFrame to scroll
display(loaded_df)

# Show a random sample of 5 rows for quick inspection
print("Sample rows from the DataFrame:")
display(loaded_df.sample(100))  # Randomly pick 5 rows

,ID,Value,airport_code,datetime,minutes_past,bin
0,KDEN_220925_0100_15,5,KDEN,2022-09-25 01:00:00,15,1
1,KDEN_220925_0100_30,4,KDEN,2022-09-25 01:00:00,30,2
2,KDEN_220925_0100_45,3,KDEN,2022-09-25 01:00:00,45,3
3,KDEN_220925_0100_60,10,KDEN,2022-09-25 01:00:00,60,4
4,KDEN_220925_0100_75,13,KDEN,2022-09-25 01:00:00,75,5
...,...,...,...,...,...,...
61915,KJFK_230818_2100_120,6,KJFK,2023-08-18 21:00:00,120,8
61916,KJFK_230818_2100_135,23,KJFK,2023-08-18 21:00:00,135,9
61917,KJFK_230818_2100_150,14,KJFK,2023-08-18 21:00:00,150,10
61918,KJFK_230818_2100_165,6,KJFK,2023-08-18 21:00:00,165,11
61919,KJFK_230818_2100_180,19,KJFK,2023-08-18 21:00:00,180,12

Sample rows from the DataFrame:

,ID,Value,airport_code,datetime,minutes_past,bin
684,KDEN_221030_1300_15,0,KDEN,2022-10-30 13:00:00,15,1
41810,KCLT_230610_1700_45,30,KCLT,2023-06-10 17:00:00,45,3
17641,KORD_230713_0100_30,0,KORD,2023-07-13 01:00:00,30,2
5132,KDEN_230711_0500_135,1,KDEN,2023-07-11 05:00:00,135,9
35229,KPHX_230512_0500_150,2,KPHX,2023-05-12 05:00:00,150,10
2407,KDEN_230203_0900_120,1,KDEN,2023-02-03 09:00:00,120,8
34272,KPHX_230405_0100_15,5,KPHX,2023-04-05 01:00:00,15,1
7734,KMEM_221205_0900_105,1,KMEM,2022-12-05 09:00:00,105,7
39606,KCLT_230204_0100_105,0,KCLT,2023-02-04 01:00:00,105,7
34402,KPHX_230406_1700_165,4,KPHX,2023-04-06 17:00:00,165,11
15633,KORD_230311_0100_150,4,KORD,2023-03-11 01:00:00,150,10
48247,KATL_230614_0100_120,4,KATL,2023-06-14 01:00:00,120,8
26442,KDFW_221231_0500_105,1,KDFW,2022-12-31 05:00:00,105,7
47773,KATL_230514_1300_30,15,KATL,2023-05-14 13:00:00,30,2
31513,KPHX_221002_1700_30,3,KPHX,2022-10-02 17:00:00,30,2
8456,KMEM_230201_0900_135,1,KMEM,2023-02-01 09:00:00,135,9
26405,KDFW_221230_1700_90,6,KDFW,2022-12-30 17:00:00,90,6
23132,KSEA_230609_0500_135,5,KSEA,2023-06-09 05:00:00,135,9
37902,KCLT_221031_0900_105,0,KCLT,2022-10-31 09:00:00,105,7
8233,KMEM_230105_0900_30,0,KMEM,2023-01-05 09:00:00,30,2
43874,KATL_221002_0900_45,3,KATL,2022-10-02 09:00:00,45,3
60388,KJFK_230610_1700_75,8,KJFK,2023-06-10 17:00:00,75,5
55182,KMIA_230811_0900_105,13,KMIA,2023-08-11 09:00:00,105,7
19577,KSEA_221103_2100_90,6,KSEA,2022-11-03 21:00:00,90,6
36657,KPHX_230812_0100_150,6,KPHX,2023-08-12 01:00:00,150,10
46445,KATL_230309_0100_90,8,KATL,2023-03-09 01:00:00,90,6
29409,KDFW_230610_0900_150,12,KDFW,2023-06-10 09:00:00,150,10
372,KDEN_220930_0500_15,1,KDEN,2022-09-30 05:00:00,15,1
30849,KDFW_230817_0900_150,8,KDFW,2023-08-17 09:00:00,150,10
8790,KMEM_230206_0100_105,1,KMEM,2023-02-06 01:00:00,105,7
50359,KMIA_221101_0900_120,7,KMIA,2022-11-01 09:00:00,120,8
24953,KDFW_220927_1300_90,7,KDFW,2022-09-27 13:00:00,90,6
21731,KSEA_230309_1700_180,31,KSEA,2023-03-09 17:00:00,180,12
60324,KJFK_230609_2100_15,5,KJFK,2023-06-09 21:00:00,15,1
41795,KCLT_230610_0900_180,38,KCLT,2023-06-10 09:00:00,180,12
32250,KPHX_221201_2100_105,2,KPHX,2022-12-01 21:00:00,105,7
59353,KJFK_230409_0900_30,5,KJFK,2023-04-09 09:00:00,30,2
56013,KJFK_220928_2100_150,14,KJFK,2022-09-28 21:00:00,150,10
33846,KPHX_230306_0100_105,7,KPHX,2023-03-06 01:00:00,105,7
42116,KCLT_230614_2100_135,14,KCLT,2023-06-14 21:00:00,135,9
4504,KDEN_230608_1300_75,9,KDEN,2023-06-08 13:00:00,75,5
1450,KDEN_221204_0100_165,7,KDEN,2022-12-04 01:00:00,165,11
7861,KMEM_221231_0500_30,17,KMEM,2022-12-31 05:00:00,30,2
27336,KDFW_230205_1700_15,0,KDFW,2023-02-05 17:00:00,15,1
32037,KPHX_221128_2100_150,11,KPHX,2022-11-28 21:00:00,150,10
44413,KATL_221128_2100_30,17,KATL,2022-11-28 21:00:00,30,2
59408,KJFK_230410_0100_135,13,KJFK,2023-04-10 01:00:00,135,9
1376,KDEN_221203_0100_135,9,KDEN,2022-12-03 01:00:00,135,9
14919,KORD_230205_0500_60,0,KORD,2023-02-05 05:00:00,60,4
58065,KJFK_230202_0900_150,9,KJFK,2023-02-02 09:00:00,150,10
48940,KATL_230717_1700_75,12,KATL,2023-07-17 17:00:00,75,5
35522,KPHX_230609_0900_45,0,KPHX,2023-06-09 09:00:00,45,3
46292,KATL_230306_2100_135,19,KATL,2023-03-06 21:00:00,135,9
32608,KPHX_221230_2100_75,2,KPHX,2022-12-30 21:00:00,75,5
30458,KDFW_230812_0100_45,2,KDFW,2023-08-12 01:00:00,45,3
21624,KSEA_230308_0900_15,0,KSEA,2023-03-08 09:00:00,15,1
51136,KMIA_221230_0500_75,1,KMIA,2022-12-30 05:00:00,75,5
31294,KPHX_220929_1300_165,8,KPHX,2022-09-29 13:00:00,165,11
8887,KMEM_230207_0900_120,0,KMEM,2023-02-07 09:00:00,120,8
9404,KMEM_230310_1300_135,3,KMEM,2023-03-10 13:00:00,135,9
27983,KDFW_230310_1300_180,50,KDFW,2023-03-10 13:00:00,180,12
34191,KPHX_230310_2100_60,10,KPHX,2023-03-10 21:00:00,60,4
1486,KDEN_221204_1300_165,10,KDEN,2022-12-04 13:00:00,165,11
27981,KDFW_230310_1300_150,30,KDFW,2023-03-10 13:00:00,150,10
54295,KMIA_230612_0100_120,14,KMIA,2023-06-12 01:00:00,120,8
29174,KDFW_230514_0500_45,1,KDFW,2023-05-14 05:00:00,45,3
17990,KORD_230717_2100_45,7,KORD,2023-07-17 21:00:00,45,3
58395,KJFK_230207_0100_60,6,KJFK,2023-02-07 01:00:00,60,4
61577,KJFK_230814_0500_90,2,KJFK,2023-08-14 05:00:00,90,6
57656,KJFK_230103_1700_135,15,KJFK,2023-01-03 17:00:00,135,9
26275,KDFW_221204_2100_120,25,KDFW,2022-12-04 21:00:00,120,8
17971,KORD_230717_1300_120,17,KORD,2023-07-17 13:00:00,120,8
25402,KDFW_221027_1700_165,23,KDFW,2022-10-27 17:00:00,165,11
35001,KPHX_230509_0100_150,14,KPHX,2023-05-09 01:00:00,150,10
7835,KMEM_221230_1700_180,3,KMEM,2022-12-30 17:00:00,180,12
60261,KJFK_230608_2100_150,13,KJFK,2023-06-08 21:00:00,150,10
45217,KATL_230103_0100_30,22,KATL,2023-01-03 01:00:00,30,2
28382,KDFW_230409_0500_45,1,KDFW,2023-04-09 05:00:00,45,3
34899,KPHX_230507_1700_60,4,KPHX,2023-05-07 17:00:00,60,4
31560,KPHX_221027_0900_15,0,KPHX,2022-10-27 09:00:00,15,1
38261,KCLT_221129_0900_90,4,KCLT,2022-11-29 09:00:00,90,6
24915,KDFW_220927_0100_60,1,KDFW,2022-09-27 01:00:00,60,4
16740,KORD_230513_1300_15,0,KORD,2023-05-13 13:00:00,15,1
5018,KDEN_230615_1700_45,5,KDEN,2023-06-15 17:00:00,45,3
35107,KPHX_230510_1300_120,5,KPHX,2023-05-10 13:00:00,120,8
12749,KORD_220930_0100_90,5,KORD,2022-09-30 01:00:00,90,6
46832,KATL_230407_0900_135,10,KATL,2023-04-07 09:00:00,135,9
33536,KPHX_230205_1700_135,6,KPHX,2023-02-05 17:00:00,135,9
3570,KDEN_230408_1300_105,21,KDEN,2023-04-08 13:00:00,105,7
59868,KJFK_230510_1300_15,3,KJFK,2023-05-10 13:00:00,15,1
54969,KMIA_230715_0900_150,6,KMIA,2023-07-15 09:00:00,150,10
24373,KSEA_230813_1300_30,4,KSEA,2023-08-13 13:00:00,30,2
49266,KATL_230815_0500_105,1,KATL,2023-08-15 05:00:00,105,7
55216,KMIA_230811_2100_75,12,KMIA,2023-08-11 21:00:00,75,5
5891,KDEN_230814_1700_180,54,KDEN,2023-08-14 17:00:00,180,12
42772,KCLT_230811_0100_75,8,KCLT,2023-08-11 01:00:00,75,5
11253,KMEM_230710_0500_150,0,KMEM,2023-07-10 05:00:00,150,10
40671,KCLT_230407_2100_60,5,KCLT,2023-04-07 21:00:00,60,4
37693,KCLT_221002_1300_30,17,KCLT,2022-10-02 13:00:00,30,2
19885,KSEA_221202_0500_30,6,KSEA,2022-12-02 05:00:00,30,2

In [6]:
import pandas as pd

# Load the DataFrame
file_path = '/projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata/finalSub.csv'
loaded_df = pd.read_csv(file_path)

# Keep only the 'ID' and 'Value' columns
filtered_df = loaded_df[['ID', 'Value']]
display(filtered_df)
# Define the new file path
new_file_path = '/projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata/filteredSub.csv'

# Write the new DataFrame to the new file
filtered_df.to_csv(new_file_path, index=False)

print(f"Filtered DataFrame saved to {new_file_path}")

                         ID  Value
0       KDEN_220925_0100_15      5
1       KDEN_220925_0100_30      4
2       KDEN_220925_0100_45      3
3       KDEN_220925_0100_60     10
4       KDEN_220925_0100_75     13
...                     ...    ...
61915  KJFK_230818_2100_120      6
61916  KJFK_230818_2100_135     23
61917  KJFK_230818_2100_150     14
61918  KJFK_230818_2100_165      6
61919  KJFK_230818_2100_180     19

[61920 rows x 2 columns]

Filtered DataFrame saved to /projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata/filteredSub.csv