### ChatGPT was used to generate some of the code in this file. 
In this notebook we will train a JFK Mdoel

In [420]:
TRAIN_PATH = '/projectnb/cs640grp/projects/noahark/preprocess/train'
TEST_PATH = '/projectnb/cs640grp/projects/noahark/preprocess/test'

from pathlib import Path
file_paths = [str(f) for f in Path(TRAIN_PATH).rglob("*") if f.is_file()]


def get_partquet(airport_code, file_type, train = True): 
    base_path = ""
    if train: 
        base_path = TRAIN_PATH 
    else: 
        base_path = TEST_PATH 

airport_codes = ['KJFK','KATL', 'KCLT', 'KDEN', 'KDFW',  'KMEM', 'KMIA', 'KORD', 'KPHX', 'KSEA']

BASE  = 'train'
ACODE = airport_codes[7]

In [421]:
import os
import glob

def get_correct_file(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet"):
    """
    Retrieve the correct file from a given directory based on the airport code and file name.

    Args:
        base_dir (str): The base directory containing the files (default is "train").
        airport_code (str): The airport code, e.g., 'KMEM', 'KMIA' (default is "KMEM").
        file_name (str): The specific file name, e.g., 'MFS_df.parquet' (default is "MFS_df.parquet").

    Returns:
        str: The full path to the matching file or None if not found.
    """
    root_dir = "/projectnb/cs640grp/projects/noahark/preprocess"
    search_pattern = os.path.join(root_dir, base_dir, "fuser", airport_code, file_name)
    matching_files = glob.glob(search_pattern)

    if matching_files:
        return matching_files[0]  # Return the first matching file
    else:
        return None

# Example usage
file_to_find = "MFS_df.parquet"
airport = "KMEM"

# Using the default base directory ("train")
result = get_correct_file(airport_code=airport, file_name=file_to_find)

if result:
    print(f"File found: {result}")
else:
    print("File not found.")


custom_base_dir = "test"
result_custom = get_correct_file(base_dir=custom_base_dir, airport_code=airport, file_name=file_to_find)

if result_custom:
    print(f"File found in custom base directory: {result_custom}")
else:
    print("File not found in custom base directory.")

File found: /projectnb/cs640grp/projects/noahark/preprocess/train/fuser/KMEM/MFS_df.parquet
File found in custom base directory: /projectnb/cs640grp/projects/noahark/preprocess/test/fuser/KMEM/MFS_df.parquet

In [422]:
FD =  {
    "MFS": "MFS_df.parquet",
    "TBFM": "TBFM_df.parquet",
    "RNWY": "runway_df.parquet",
    "FPOS": "first_position.parquet",
    "LMAP": "lamp.parquet",
    "TFM": "tfm_df.parquet",
}
# A helpful dictionary to make it easier

In [423]:
get_correct_file(base_dir="train", airport_code="KJFK", file_name="MFS_df.parquet")

'/projectnb/cs640grp/projects/noahark/preprocess/train/fuser/KJFK/MFS_df.parquet'

## Let's look at some of this data

In [424]:
import pandas as pd
def load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet"):
    """
    Load a Parquet file into a DataFrame and display its contents.

    Args:
        base_dir (str): The base directory containing the files (default is "train").
        airport_code (str): The airport code, e.g., 'KMEM' (default is "KMEM").
        file_name (str): The specific file name, e.g., 'MFS_df.parquet' (default is "MFS_df.parquet").
    """
    # Use the function to get the file path
    file_path = get_correct_file(base_dir=base_dir, airport_code=airport_code, file_name=file_name)
    
    if file_path:
        try:
            # Load the Parquet file into a DataFrame
            df = pd.read_parquet(file_path)
            
            # Display the DataFrame
            display(df)
            return df 
        except Exception as e:
            print(f"An error occurred while loading the Parquet file: {e}")
    else:
        print(f"File not found: {base_dir}/{airport_code}/{file_name}")
        return None

# Example usage
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["MFS"])

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
UAL1667.CUN.ORD.220904.2040.0130.TFM                   JET          B739                        KORD           UAL  SCHEDULED_AIR_TRANSPORT
QTR16J.DOH.ORD.220905.0450.0050.TFM                    JET          B77W                        KORD          None  SCHEDULED_AIR_TRANSPORT
PDT6239.ORD.DAY.220905.0135.0032.TFM                   JET          E145                        KDAY           AAL  SCHEDULED_AIR_TRANSPORT
ENY3970.ORD.CMH.220905.0120.0030.TFM                   JET          E170                        KCMH           AAL  SCHEDULED_AIR_TRANSPORT
ENY3608.YYZ.ORD.220904.2230.0062.TFM                   JET          E145                        KORD           AAL  SCHEDULED_AIR_TRANSPORT
...                                                    ...           ...                         ...           ...                      ...
UAL953.ORD.MUC.221002.2311.0007.TFM                    JET          B78X                        EDDM           UAL  SCHEDULED_AIR_TRANSPORT
UAL1537.ORD.DEN.221002.0225.0091.TFM                   JET          B752                        KDEN           UAL  SCHEDULED_AIR_TRANSPORT
ENY3658.ORD.CMI.221002.0125.0047.TFM                   JET          E145                        KCMI           AAL  SCHEDULED_AIR_TRANSPORT
UAL713.DEL.ORD.221001.2025.0018.TFM                    JET          B789                        KORD           UAL                     None
AAL1443.PWM.ORD.221002.2140.0064.TFM                   JET          A319                        KORD           AAL  SCHEDULED_AIR_TRANSPORT

[662961 rows x 5 columns]

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
UAL1667.CUN.ORD.220904.2040.0130.TFM                   JET          B739                        KORD           UAL  SCHEDULED_AIR_TRANSPORT
QTR16J.DOH.ORD.220905.0450.0050.TFM                    JET          B77W                        KORD          None  SCHEDULED_AIR_TRANSPORT
PDT6239.ORD.DAY.220905.0135.0032.TFM                   JET          E145                        KDAY           AAL  SCHEDULED_AIR_TRANSPORT
ENY3970.ORD.CMH.220905.0120.0030.TFM                   JET          E170                        KCMH           AAL  SCHEDULED_AIR_TRANSPORT
ENY3608.YYZ.ORD.220904.2230.0062.TFM                   JET          E145                        KORD           AAL  SCHEDULED_AIR_TRANSPORT
...                                                    ...           ...                         ...           ...                      ...
UAL953.ORD.MUC.221002.2311.0007.TFM                    JET          B78X                        EDDM           UAL  SCHEDULED_AIR_TRANSPORT
UAL1537.ORD.DEN.221002.0225.0091.TFM                   JET          B752                        KDEN           UAL  SCHEDULED_AIR_TRANSPORT
ENY3658.ORD.CMI.221002.0125.0047.TFM                   JET          E145                        KCMI           AAL  SCHEDULED_AIR_TRANSPORT
UAL713.DEL.ORD.221001.2025.0018.TFM                    JET          B789                        KORD           UAL                     None
AAL1443.PWM.ORD.221002.2140.0064.TFM                   JET          A319                        KORD           AAL  SCHEDULED_AIR_TRANSPORT

[662961 rows x 5 columns]

In [425]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["MFS"])

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
UAL1667.CUN.ORD.220904.2040.0130.TFM                   JET          B739                        KORD           UAL  SCHEDULED_AIR_TRANSPORT
QTR16J.DOH.ORD.220905.0450.0050.TFM                    JET          B77W                        KORD          None  SCHEDULED_AIR_TRANSPORT
PDT6239.ORD.DAY.220905.0135.0032.TFM                   JET          E145                        KDAY           AAL  SCHEDULED_AIR_TRANSPORT
ENY3970.ORD.CMH.220905.0120.0030.TFM                   JET          E170                        KCMH           AAL  SCHEDULED_AIR_TRANSPORT
ENY3608.YYZ.ORD.220904.2230.0062.TFM                   JET          E145                        KORD           AAL  SCHEDULED_AIR_TRANSPORT
...                                                    ...           ...                         ...           ...                      ...
UAL953.ORD.MUC.221002.2311.0007.TFM                    JET          B78X                        EDDM           UAL  SCHEDULED_AIR_TRANSPORT
UAL1537.ORD.DEN.221002.0225.0091.TFM                   JET          B752                        KDEN           UAL  SCHEDULED_AIR_TRANSPORT
ENY3658.ORD.CMI.221002.0125.0047.TFM                   JET          E145                        KCMI           AAL  SCHEDULED_AIR_TRANSPORT
UAL713.DEL.ORD.221001.2025.0018.TFM                    JET          B789                        KORD           UAL                     None
AAL1443.PWM.ORD.221002.2140.0064.TFM                   JET          A319                        KORD           AAL  SCHEDULED_AIR_TRANSPORT

[662961 rows x 5 columns]

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
UAL1667.CUN.ORD.220904.2040.0130.TFM                   JET          B739                        KORD           UAL  SCHEDULED_AIR_TRANSPORT
QTR16J.DOH.ORD.220905.0450.0050.TFM                    JET          B77W                        KORD          None  SCHEDULED_AIR_TRANSPORT
PDT6239.ORD.DAY.220905.0135.0032.TFM                   JET          E145                        KDAY           AAL  SCHEDULED_AIR_TRANSPORT
ENY3970.ORD.CMH.220905.0120.0030.TFM                   JET          E170                        KCMH           AAL  SCHEDULED_AIR_TRANSPORT
ENY3608.YYZ.ORD.220904.2230.0062.TFM                   JET          E145                        KORD           AAL  SCHEDULED_AIR_TRANSPORT
...                                                    ...           ...                         ...           ...                      ...
UAL953.ORD.MUC.221002.2311.0007.TFM                    JET          B78X                        EDDM           UAL  SCHEDULED_AIR_TRANSPORT
UAL1537.ORD.DEN.221002.0225.0091.TFM                   JET          B752                        KDEN           UAL  SCHEDULED_AIR_TRANSPORT
ENY3658.ORD.CMI.221002.0125.0047.TFM                   JET          E145                        KCMI           AAL  SCHEDULED_AIR_TRANSPORT
UAL713.DEL.ORD.221001.2025.0018.TFM                    JET          B789                        KORD           UAL                     None
AAL1443.PWM.ORD.221002.2140.0064.TFM                   JET          A319                        KORD           AAL  SCHEDULED_AIR_TRANSPORT

[662961 rows x 5 columns]

In [426]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["TBFM"])

                                          arrival_runway_sta_time_stamp   arrival_runway_sta
gufi
ENY3334.SDF.ORD.230210.2300.0197.TFM                2023-02-12 00:00:00  2023-02-12 00:15:30
FDX3857.OAK.ORD.230210.2335.0052.TFM_TFDM           2023-02-12 00:00:00  2023-02-12 02:01:38
BAW2AS.LHR.ORD.230211.1706.0014.TFM                 2023-02-12 00:00:00  2023-02-12 00:53:35
SKW4021.BOS.ORD.230210.2110.0072.TFM                2023-02-12 00:00:00  2023-02-12 00:38:34
AWI3999.ABE.ORD.230210.2230.0135.TFM                2023-02-12 00:00:00  2023-02-12 00:24:51
...                                                                 ...                  ...
SWA560.PHX.ORD.230414.0040.0042.TFM                 2023-04-15 01:59:58                 None
UAL1565.PHX.ORD.230414.0135.0027.TFM                2023-04-15 01:59:58  2023-04-15 04:36:43
AAL536.CLT.ORD.230413.2100.0072.TFM                 2023-04-15 01:59:59  2023-04-15 02:33:06
AAL2695.DCA.ORD.230414.0020.0124.TFM                2023-04-15 01:59:59  2023-04-15 02:16:47
CAO1053.ANC.ORD.230414.1002.0017.TFM                2023-04-15 01:59:59                 None

[122061370 rows x 2 columns]

                                          arrival_runway_sta_time_stamp   arrival_runway_sta
gufi
ENY3334.SDF.ORD.230210.2300.0197.TFM                2023-02-12 00:00:00  2023-02-12 00:15:30
FDX3857.OAK.ORD.230210.2335.0052.TFM_TFDM           2023-02-12 00:00:00  2023-02-12 02:01:38
BAW2AS.LHR.ORD.230211.1706.0014.TFM                 2023-02-12 00:00:00  2023-02-12 00:53:35
SKW4021.BOS.ORD.230210.2110.0072.TFM                2023-02-12 00:00:00  2023-02-12 00:38:34
AWI3999.ABE.ORD.230210.2230.0135.TFM                2023-02-12 00:00:00  2023-02-12 00:24:51
...                                                                 ...                  ...
SWA560.PHX.ORD.230414.0040.0042.TFM                 2023-04-15 01:59:58                 None
UAL1565.PHX.ORD.230414.0135.0027.TFM                2023-04-15 01:59:58  2023-04-15 04:36:43
AAL536.CLT.ORD.230413.2100.0072.TFM                 2023-04-15 01:59:59  2023-04-15 02:33:06
AAL2695.DCA.ORD.230414.0020.0124.TFM                2023-04-15 01:59:59  2023-04-15 02:16:47
CAO1053.ANC.ORD.230414.1002.0017.TFM                2023-04-15 01:59:59                 None

[122061370 rows x 2 columns]

In [427]:
#load_and_display_parquet(base_dir="train", airport_code="KJFK", file_name=FD["RNWY"])

In [428]:
#load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["FPOS"])

In [429]:
#load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["LMAP"])

In [430]:
#load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["TFM"])

# Now lets train a XGD - Based Model

#### But we need to take in a date and an airport and fetch some columns, for our first model we only care about estimated time of arrival and bin (something we create based on time)

In [431]:
def return_parquet(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet"):
    file_path = get_correct_file(base_dir=base_dir, airport_code=airport_code, file_name=file_name)
    
    if file_path:
        try:
            # Load the Parquet file into a DataFrame
            df = pd.read_parquet(file_path)
            
            # Display the DataFrame
            return df 
        except Exception as e:
            print(f"An error occurred while loading the Parquet file: {e}")
    else:
        print(f"File not found: {base_dir}/{airport_code}/{file_name}")
        return None

In [432]:
jfk_tm = return_parquet(file_name = FD["TFM"])

In [433]:
jfk_tm

                                     timestamp_arrival_runway_estimate arrival_runway_estimated_time
gufi
UAE9917.CPH.ORD.230403.0125.0069.TFM               2023-04-04 07:00:02           2023-04-04 09:57:25
UAL2478.SAN.ORD.230403.0530.0024.TFM               2023-04-04 07:00:05           2023-04-04 08:54:23
NKS1800.LAS.ORD.230403.0530.0028.TFM               2023-04-04 07:00:05           2023-04-04 08:34:59
UAL1490.PDX.ORD.230403.0630.0022.TFM               2023-04-04 07:00:06           2023-04-04 10:10:11
UAL747.SEA.ORD.230403.0650.0019.TFM                2023-04-04 07:00:06           2023-04-04 10:43:50
...                                                                ...                           ...
SKW5771.DAY.ORD.230826.1330.0082.TFM               2023-08-27 13:59:52           2023-08-27 14:33:38
SKW5585.SGF.ORD.230826.1300.0070.TFM               2023-08-27 13:59:59           2023-08-27 14:18:18
AAL161.ATH.ORD.230826.0940.0026.TFM                2023-08-27 13:59:52           2023-08-27 20:40:51
UAL582.DCA.ORD.230826.1330.0170.TFM                2023-08-27 13:59:52           2023-08-27 15:06:01
DAL1015.LGA.ORD.230826.1245.0040.TFM               2023-08-27 13:59:59           2023-08-27 14:47:05

[51746466 rows x 2 columns]

In [434]:
import pandas as pd

def has_repeated_index(df):
    """
    Checks if the DataFrame has repeated indices (i.e., multiple rows with the same index).
    
    Args:
        df (pd.DataFrame): The DataFrame to check.
        
    Returns:
        bool: True if there are repeated indices, False otherwise.
    """
    # Check if the index has duplicates
    duplicated_index = df.index.duplicated().any()
    
    return duplicated_index

# Example usage:
data = {
    'A': [4, 2, 3, 1],
    'B': [1, 2, 3, 4]
}

# Create a DataFrame with repeated index
df = pd.DataFrame(data, index=[0, 1, 2, 1])  # Index 1 is repeated

# Check if there are repeated indices
result = has_repeated_index(jfk_tm)

print(f"Are there repeated indices? {result}")

Are there repeated indices? True

## Features 

the model operates on some dataset D. We are given a timestamp t and and airport. We need to pull the expect number of incoming flights that are estimated to arive between t, and t + 4hrs. Why four hours? 

Then for each of those flights we will pull some static features : 

computed features: time delta

In [435]:
import pandas as pd

def is_sorted_by_column(df, column_name):
    """
    Check if the DataFrame is sorted by a specific column.

    Args:
        df (pd.DataFrame): The DataFrame to check.
        column_name (str): The column name to check for sorting.

    Returns:
        bool: True if the DataFrame is sorted by the specified column, otherwise False.
    """
    return df[column_name].is_monotonic_increasing or df[column_name].is_monotonic_decreasing

# Example usage
data = {
    'A': [1, 5, 2, 4],
    'B': [4, 3, 2, 1]
}

df = pd.DataFrame(data)

# Check if 'A' column is sorted
print(is_sorted_by_column(df, 'A'))  # Output: True (sorted in increasing order)

# Check if 'B' column is sorted
print(is_sorted_by_column(df, 'B'))  # Output: True (sorted in decreasing order)

False
True

In [436]:
print(is_sorted_by_column(jfk_tm, 'timestamp_arrival_runway_estimate'))  # Output: True (sorted in decreasing order)
# We have to sort the df

False

In [437]:
import pandas as pd

def sort_df_by_column(df, column_name, ascending=True):
    """
    Sort the DataFrame by a specific column.

    Args:
        df (pd.DataFrame): The DataFrame to sort.
        column_name (str): The column name to sort by.
        ascending (bool): Whether to sort in ascending order (default is True).

    Returns:
        pd.DataFrame: A new DataFrame sorted by the specified column.
    """
    return df.sort_values(by=column_name, ascending=ascending).reset_index(drop=False)

# Example usage
data = {
    'A': [4, 2, 3, 1],
    'B': [1, 2, 3, 4]
}

df = pd.DataFrame(data)

# Sort by column 'A' in ascending order
sorted_df = sort_df_by_column(df, 'A', ascending=False)
print(sorted_df)

# Sort by column 'B' in descending order
sorted_df_desc = sort_df_by_column(df, 'B', ascending=False)
print(sorted_df_desc)

   index  A  B
0      0  4  1
1      2  3  3
2      1  2  2
3      3  1  4
   index  A  B
0      3  1  4
1      2  3  3
2      1  2  2
3      0  4  1

In [438]:
jfk_sorted = sort_df_by_column(jfk_tm, "timestamp_arrival_runway_estimate")

In [439]:
jfk_sorted

                                               gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0              SWA1592.AUS.ORD.220830.2155.0134.TFM               2022-09-01 00:00:00           2022-09-01 01:03:17
1               AAL377.PHX.ORD.220830.2235.0111.TFM               2022-09-01 00:00:00           2022-09-01 01:43:42
2               UAL766.SJD.ORD.220830.2030.0051.TFM               2022-09-01 00:00:00           2022-09-01 00:38:44
3              ENY3325.AUS.ORD.220830.2240.0095.TFM               2022-09-01 00:00:00           2022-09-01 01:33:46
4                SWA28.DAL.ORD.220830.1945.0182.TFM               2022-09-01 00:00:00           2022-09-01 01:14:47
...                                             ...                               ...                           ...
51746461  AWI9884.ROW.ORD.230901.0330.0001.TFM_TFDM                        2023-09-02           2023-09-02 00:40:49
51746462       ENY3505.GRB.ORD.230831.2341.0028.TFM                        2023-09-02           2023-09-02 00:15:12
51746463       ENY3457.AVP.ORD.230831.2230.0079.TFM                        2023-09-02           2023-09-02 00:20:59
51746464        UAL693.SFO.ORD.230831.1955.0103.TFM                        2023-09-02           2023-09-01 23:59:00
51746465       AWI6208.DTW.ORD.230831.2320.0061.TFM                        2023-09-02           2023-09-02 00:40:57

[51746466 rows x 3 columns]

In [440]:
print(jfk_sorted.columns)
print("Data types of columns:\n", jfk_sorted.dtypes)

Index(['gufi', 'timestamp_arrival_runway_estimate', 'arrival_runway_estimated_time'], dtype='object')
Data types of columns:
 gufi                                 object
timestamp_arrival_runway_estimate    object
arrival_runway_estimated_time        object
dtype: object

In [441]:
import pandas as pd

def preprocess_timestamps(df):
    """
    Preprocess the DataFrame to convert timestamp columns to datetime format.
    
    Args:
        df (pd.DataFrame): The DataFrame with timestamp columns.
        
    Returns:
        pd.DataFrame: The DataFrame with datetime columns.
    """
    # Convert timestamp columns to datetime format once
    df['timestamp_arrival_runway_estimate'] = pd.to_datetime(df['timestamp_arrival_runway_estimate'], errors='coerce')
    df['arrival_runway_estimated_time'] = pd.to_datetime(df['arrival_runway_estimated_time'], errors='coerce')
    return df

def filter_rows_by_timestamp(df, t):
    """
    Filters rows in the DataFrame based on the given timestamp 't'.
    
    Args:
        df (pd.DataFrame): The DataFrame to filter (preprocessed).
        t (pd.Timestamp): The timestamp value to compare against.
        
    Returns:
        pd.DataFrame: A DataFrame with rows matching the conditions.
    """
    # Condition 1: 'timestamp_arrival_runway_estimate' < t
    condition_1 = df['timestamp_arrival_runway_estimate'] < t
    
    # Condition 2: 'arrival_runway_estimated_time' > t and < t + 4 hours
    condition_2 = (df['arrival_runway_estimated_time'] > t) & (df['arrival_runway_estimated_time'] < (t + pd.Timedelta(hours=4)))
    
    # Combine the conditions
    filtered_df = df[condition_1 & condition_2]
    
    return filtered_df

# Example usage:
data = {
    'timestamp_arrival_runway_estimate': ['2022-11-18 00:00:00', '2022-11-18 01:00:00', '2022-11-18 02:00:00'],
    'arrival_runway_estimated_time': ['2022-11-18 03:00:00', '2022-11-18 04:00:00', '2022-11-18 06:00:00']
}

df = pd.DataFrame(data)

# Preprocess timestamps once
df = preprocess_timestamps(df)

# Set the timestamp `t`
t = pd.to_datetime('2022-11-18 01:30:00')

# Call the function to filter rows
filtered_df = filter_rows_by_timestamp(df, t)
print(filtered_df)

  timestamp_arrival_runway_estimate arrival_runway_estimated_time
0               2022-11-18 00:00:00           2022-11-18 03:00:00
1               2022-11-18 01:00:00           2022-11-18 04:00:00

In [ ]:
jfk_sorted = preprocess_timestamps(jfk_sorted)

In [ ]:
jfk_sorted

In [ ]:
def drop_rows_with_nat(df):
    """
    Drop rows with NaT (Not a Time) values and print how many rows were dropped.
    
    Args:
        df (pd.DataFrame): The DataFrame to process.
        
    Returns:
        pd.DataFrame: The DataFrame with rows containing NaT values removed.
    """
    # Count the number of rows with NaT values
    initial_row_count = len(df)
    
    # Drop rows with NaT values
    df_cleaned = df.dropna(subset=['timestamp_arrival_runway_estimate', 'arrival_runway_estimated_time'])
    
    # Calculate how many rows were dropped
    rows_dropped = initial_row_count - len(df_cleaned)
    
    # Print the number of rows dropped
    print(f"Rows dropped: {rows_dropped}")
    
    return df_cleaned

In [ ]:
jfk_sorted = drop_rows_with_nat(jfk_sorted)

In [ ]:

file_path = f'tempdata/{ACODE}_sorted.parquet'

jfk_sorted.to_parquet(file_path, engine='pyarrow', index=False)

print(f"DataFrame successfully saved to {file_path}.")

In [ ]:
jfk_sorted.head()

# A safe checkpoint

In [ ]:
import pandas as pd

# Specify the file path where the DataFrame was saved
file_path = f'tempdata/{ACODE}_sorted.parquet'

# Read the Parquet file back into a DataFrame
jfk_sorted = pd.read_parquet(file_path, engine='pyarrow')

In [ ]:
jfk_sorted.dtypes

In [ ]:
import pandas as pd

def filter_rows_by_timestamp(df, t, time_window=4):
    """
    Filter rows where the timestamp is within a specified range from t.
    
    Args:
        df (pd.DataFrame): DataFrame to filter.
        t (str): The timestamp to compare against (in 'YYYY-MM-DD HH:MM:SS' format).
        time_window (int): The time range in hours for filtering (default is 4 hours).
        
    Returns:
        pd.DataFrame: DataFrame with rows filtered based on the timestamp range.
    """
    # Ensure 't' is a datetime object
    t = pd.to_datetime(t)
    
    # Filter the DataFrame based on the specified time window
    filtered_df = df[(df['timestamp_arrival_runway_estimate'] < t) & 
                     (df['arrival_runway_estimated_time'] > t) & 
                     (df['arrival_runway_estimated_time'] < t + pd.Timedelta(hours=time_window))]
    
    return filtered_df

def select_latest_entry_for_each_gufi(filtered_df):
    """
    Select the latest entry for each gufi based on timestamp_arrival_runway_estimate.
    
    Args:
        filtered_df (pd.DataFrame): DataFrame containing the filtered rows.
        
    Returns:
        pd.DataFrame: DataFrame with one entry for each gufi, having the latest timestamp.
    """
    # Group by 'gufi' and get the row with the latest 'timestamp_arrival_runway_estimate'
    latest_entries = filtered_df.loc[filtered_df.groupby('gufi')['timestamp_arrival_runway_estimate'].idxmax()]
    
    return latest_entries

# Example usage:

# Sample data (replace with your actual DataFrame)
data = {
    'gufi': ['RPA5716.BOS.JFK.220830.2250.0064.TFM', 'RPA5716.BOS.JFK.220830.2250.0064.TFM', 'RPA5717.BOS.JFK.220830.2250.0065.TFM'],
    'timestamp_arrival_runway_estimate': ['2022-09-01 00:00:00', '2022-09-01 00:02:18', '2022-09-01 00:05:00'],
    'arrival_runway_estimated_time': ['2022-09-01 00:02:18', '2022-09-01 00:04:00', '2022-09-01 00:06:00'],
}
df = pd.DataFrame(data)
display(df)
# Convert timestamps to datetime (this is necessary if the data was originally in string format)
df['timestamp_arrival_runway_estimate'] = pd.to_datetime(df['timestamp_arrival_runway_estimate'])
df['arrival_runway_estimated_time'] = pd.to_datetime(df['arrival_runway_estimated_time'])

# Timestamp t
t = '2022-09-01 00:00:01'

# Filter rows within the timestamp range
filtered_df = filter_rows_by_timestamp(df, t)

# Select the latest entry for each gufi
latest_entries = select_latest_entry_for_each_gufi(filtered_df)

display(latest_entries)

In [ ]:
jfk_sorted

In [ ]:
print(jfk_sorted['timestamp_arrival_runway_estimate'].min(), jfk_sorted['timestamp_arrival_runway_estimate'].max())

In [ ]:
# Timestamp t
t = '2022-09-01 00:00:04'

# Filter rows within the timestamp range
filtered_df = filter_rows_by_timestamp(jfk_sorted, t)

# Select the latest entry for each gufi
latest_entries = select_latest_entry_for_each_gufi(filtered_df)

display(latest_entries)

In [ ]:
def process_and_select_latest(df, t):
    """
    Filters rows within the timestamp range and selects the latest entry for each gufi.

    Args:
        df (pd.DataFrame): The input DataFrame.
        t (str): The reference timestamp as a string.

    Returns:
        pd.DataFrame: A DataFrame with the latest entry for each gufi.
    """
    # Filter rows within the timestamp range
    filtered_df = filter_rows_by_timestamp(df, t)

    # Select the latest entry for each gufi
    latest_entries = select_latest_entry_for_each_gufi(filtered_df)

    return latest_entries

# Example usage
t = '2022-09-01 00:00:04'
latest_entries = process_and_select_latest(jfk_sorted, t)

# Display the result
display(latest_entries)

In [ ]:
jfk_sorted.dtypes

In [ ]:
import pandas as pd
import numpy as np

def generate_t_samples(start_time, end_time, num_samples):
    """
    Generate a list of timestamp samples between start_time and end_time.

    Args:
        start_time (str): The start time in string format.
        end_time (str): The end time in string format.
        num_samples (int): Number of timestamp samples to generate.

    Returns:
        List of timestamps as strings.
    """
    start = pd.to_datetime(start_time)
    end = pd.to_datetime(end_time)
    return pd.date_range(start=start, end=end, periods=num_samples).to_list()

def process_multiple_samples(df, start_time, end_time, num_samples):
    """
    Process multiple timestamp samples and combine the results into a single DataFrame.

    Args:
        df (pd.DataFrame): The input DataFrame.
        start_time (str): The start time for generating samples.
        end_time (str): The end time for generating samples.
        num_samples (int): Number of timestamp samples to generate.

    Returns:
        pd.DataFrame: A DataFrame with combined results and a 't' column for each sample.
    """
    # Generate timestamp samples
    t_samples = generate_t_samples(start_time, end_time, num_samples)
    # Process each timestamp and append results
    combined_df = pd.DataFrame()
    for t in t_samples:
        filtered_df = process_and_select_latest(df, t)
        filtered_df['t'] = t  # Add the timestamp as a column
        combined_df = pd.concat([combined_df, filtered_df], ignore_index=True)

    return combined_df

# Example usage
data = {
    'gufi': ['RPA5716.BOS.JFK.220830.2250.0064.TFM', 'RPA5717.BOS.JFK.220830.2250.0064.TFM', 'RPA5718.BOS.JFK.220830.2250.0064.TFM'],
    'timestamp_arrival_runway_estimate': ['2022-09-01 00:00:00', '2022-09-01 00:05:00', '2022-09-01 00:03:00'],
    'arrival_runway_estimated_time': ['2022-09-01 00:02:18', '2022-09-01 00:07:00', '2022-09-01 00:06:00']
}

adf = pd.DataFrame(data)
adf['timestamp_arrival_runway_estimate'] = pd.to_datetime(adf['timestamp_arrival_runway_estimate'])
adf['arrival_runway_estimated_time'] = pd.to_datetime(adf['arrival_runway_estimated_time'])

print(adf.dtypes)
display(adf)
# Process multiple samples
start_time = '2022-09-01 00:00:00'
end_time = '2022-09-01 01:00:00'
num_samples = 10

result_df = process_multiple_samples(adf, start_time, end_time, num_samples)

# Display result
display(result_df)

In [ ]:

start_time = '2022-09-01 00:00:00'
end_time = '2023-09-01 23:59:59'
num_samples = 100

result_df = process_multiple_samples(jfk_sorted, start_time, end_time, num_samples)

# Display result
from IPython.display import display, HTML

# Set pandas display options to show more rows
pd.set_option('display.max_rows', 1000)  # Show 1000 rows (or adjust as needed)
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', 1000)  # Adjust width for better readability
pd.set_option('display.max_colwidth', None)  # Display full content of each cell

# Use HTML to create a scrollable view for the DataFrame
display(HTML(result_df.to_html(classes='table table-bordered table-striped', max_rows=1000)))

In [ ]:
len(result_df)

## LETS GET PLANE FEATURES

In [ ]:
plane_df = return_parquet(file_name = FD["MFS"])
plane_df # we dont want to use all of this, lets just get the jet engine class and

In [ ]:
subset_df = plane_df[['aircraft_engine_class']]
subset_df

In [ ]:
# lets merge with result_df
subset_df = subset_df.reset_index()

# Merge with result_df on the 'gufi' column
feat_df = result_df.merge(subset_df, on='gufi', how='left')
feat_df['aircraft_engine_class'] = feat_df['aircraft_engine_class'].fillna('unknown')
# Display the merged DataFrame
display(feat_df)

## now lets pull the actual time

In [ ]:
rnwydf = return_parquet(file_name = FD["RNWY"])

In [ ]:

rnwydf

In [ ]:
rnwydf['arrival_runway_actual_time'] = pd.to_datetime(rnwydf['arrival_runway_actual_time'])

In [ ]:
print(rnwydf.dtypes)
print(result_df.dtypes)
print(len(result_df))

In [ ]:
rnwy_df_reset = rnwydf.reset_index().rename(columns={'index': 'gufi'})
rnwy_df_reset

In [ ]:
import pandas as pd


# Sample data for rnwy_df with 'gufi' as the index

# Perform the merge
merged_df = pd.merge(feat_df, rnwy_df_reset, on='gufi', how='left')

# Display the merged DataFrame
print("Merged DataFrame:")
#display(merged_df)

# Check if the merge worked by displaying the number of matched rows
display(merged_df.head())

In [ ]:
print(merged_df.columns)
print(len(merged_df))
print((merged_df.dtypes))

In [ ]:
# Calculate the minute difference between 't' and 'arrival_runway_actual_time'
merged_df['minute_diff'] = (merged_df['arrival_runway_actual_time'] - merged_df['t']).dt.total_seconds() / 60

# Display the DataFrame with the new 'minute_diff' column
display(merged_df[['gufi', 't', 'arrival_runway_actual_time', 'minute_diff']])

In [ ]:
# drop nans
merged_df = merged_df.dropna(subset=['minute_diff'])
display((merged_df[['gufi', 't', 'arrival_runway_actual_time', 'minute_diff']]))

In [ ]:
merged_df.columns

In [ ]:
import numpy as np

# Define a function to categorize the minute_diff into target values
def assign_target(minute_diff):
    if minute_diff < 0:
        return 13
    elif minute_diff <= 15:
        return 1
    elif 15 < minute_diff <= 30:
        return 2
    elif 30 < minute_diff <= 45:
        return 3
    elif 45 < minute_diff <= 60:
        return 4
    elif 60 < minute_diff <= 75:
        return 5
    elif 75 < minute_diff <= 90:
        return 6
    elif 90 < minute_diff <= 105:
        return 7
    elif 105 < minute_diff <= 120:
        return 8
    elif 120 < minute_diff <= 135:
        return 9
    elif 135 < minute_diff <= 150:
        return 10
    elif 150 < minute_diff <= 165:
        return 11
    elif 165 < minute_diff <= 180:
        return 12
    elif minute_diff > 180:
        return 13
    else:
        return 13  # Return NaN if the value is not valid

# Apply the function to create the 'target' column
merged_df['target'] = merged_df['minute_diff'].apply(assign_target)

# Display the updated DataFrame with the 'target' column
display(merged_df[['gufi', 'minute_diff', 'target','aircraft_engine_class']])

In [ ]:
merged_df.head()

In [ ]:
print(len(merged_df))

In [ ]:
# Calculate the time difference between 't' and 'arrival_runway_estimated_time'
merged_df['time_diff_estimate'] = (merged_df['arrival_runway_estimated_time'] - merged_df['t']).dt.total_seconds() / 60

# Display the updated DataFrame with the new column
display(merged_df)

In [ ]:
columns_to_select = ['gufi', 'time_diff_estimate', 'target',  't', 'aircraft_engine_class']

# Create a new DataFrame with only the specified columns
selected_columns_df = merged_df[columns_to_select]

# Display the new DataFrame
print(len(selected_columns_df))
print((selected_columns_df.dtypes))
print(selected_columns_df.columns)

In [ ]:

# Step 1: Get unique values from the 'aircraft_engine_class' column
unique_values = selected_columns_df['aircraft_engine_class'].unique()

# Step 2: Manually create a mapping from each unique value to an integer
#manual_map = {value: index for index, value in enumerate(unique_values, start=1)}
manual_map = {'JET': 1, 'TURBO': 2, 'unknown': 3, 'PISTON': 4}

# Step 3: Apply the mapping to the 'aircraft_engine_class' column using .loc[] to avoid the warning
selected_columns_df = selected_columns_df.copy()
selected_columns_df['engine_class_int'] = selected_columns_df['aircraft_engine_class'].map(manual_map)



# Display the updated DataFrame
display(selected_columns_df)

In [ ]:
manual_map

In [ ]:
selected_columns_df.columns

In [ ]:
import pandas as pd
from xgboost import XGBRegressor

from sklearn.impute import SimpleImputer
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor

# Assuming selected_columns_df is already defined
selected_columns_df = selected_columns_df.loc[selected_columns_df['target'].notna()]
data =selected_columns_df.copy()
# Shuffle the dataset but keep track of the original indices
data_shuffled = data.sample(frac=1, random_state=42)

# Calculate the split index (75% train, 25% test)
train_size = int(0.75 * len(data_shuffled))

# Create train and test DataFrames from the shuffled data
train_df = data_shuffled[:train_size]
test_df = data_shuffled[train_size:]

# Separate the features (X) and target (y) for train and test sets
train_X = train_df.drop(['target'], axis=1).select_dtypes(exclude=['object','datetime64[ns]'])
test_X = test_df.drop(['target'], axis=1).select_dtypes(exclude=['object','datetime64[ns]'])
train_y = train_df['target']
test_y = test_df['target']

display(train_X)

# Initialize SimpleImputer to handle missing values
my_imputer = SimpleImputer()

# Impute missing values in train and test sets
train_X_imputed = my_imputer.fit_transform(train_X)
test_X_imputed = my_imputer.transform(test_X)

# Convert the imputed arrays back to DataFrames and restore column names and original indices
train_X_df = pd.DataFrame(train_X_imputed, columns=train_X.columns, index=train_df.index)  # Use original indices
test_X_df = pd.DataFrame(test_X_imputed, columns=test_X.columns, index=test_df.index)  # Use original indices

# Train a model (e.g., RandomForestRegressor as an example)
model =  XGBRegressor()
model.fit(train_X_df, train_y)

# Make predictions
predictions = model.predict(test_X_df)

# Round or process the predictions as needed (for example, flooring them)
predictions_floor = predictions.astype(int)

# Merge the predictions and the true values into a new DataFrame, keeping the original index
result_df_now = pd.DataFrame({
    'True Values': test_y,
    'Predictions': predictions_floor
}, index=test_df.index)  # Keep the original indices for result_df

# Display the result DataFrame
display(result_df_now)

# Optionally, merge with the original selected_columns_df using the indices
#final_result_df = selected_columns_df.loc[result_df_now.index, ['gufi', 'time_diff_estimate','target']].join(result_df_now)

# Display final merged DataFrame
#display(final_result_df)

In [ ]:
test_final_df = pd.concat([test_df, result_df_now], axis=1)
test_final_df

In [ ]:
test_final_df.columns

In [ ]:
extracted_test_df = test_final_df[['t','True Values', 'Predictions']]
extracted_test_df

In [ ]:
import pandas as pd

# Example test_final_df
data_temp = {
    't': ['2023-07-19 15:16:20.939393936', '2023-07-19 15:16:20.939393936', '2023-07-19 16:00:00.000000000','2023-07-19 16:00:00.000000000'],
    'True Values': [5, 7, 3,6],
    'Predictions': [5, 8, 3,3]
}
df_temp = extracted_test_df.copy()
display(df_temp)
# Define the bins (1 through 12)
bins = range(1, 13)

# Initialize dictionaries to store bin sums for each unique 't'
true_bins_by_t = {}
pred_bins_by_t = {}

# Group by unique 't' and calculate bin sums
for t_value, group in df_temp.groupby('t'):
    # Sum True Values for each bin
    true_bins = group['True Values'].value_counts().reindex(bins, fill_value=0)
    true_bins_by_t[t_value] = true_bins.tolist()  # Convert to list for storage
    
    # Sum Predictions for each bin
    pred_bins = group['Predictions'].value_counts().reindex(bins, fill_value=0)
    pred_bins_by_t[t_value] = pred_bins.tolist()  # Convert to list for storage

# Convert results to DataFrames for better visualization
true_bins_df = pd.DataFrame.from_dict(true_bins_by_t, orient='index', columns=[f'Bin {i}' for i in bins])
pred_bins_df = pd.DataFrame.from_dict(pred_bins_by_t, orient='index', columns=[f'Bin {i}' for i in bins])

# Display results
print("True Value Bins by 't':")
display(true_bins_df)

print("\nPrediction Bins by 't':")
display(pred_bins_df)

In [ ]:
# Convert true_bins_df into a 3-column DataFrame with count_true
true_bins_melted = true_bins_df.reset_index().melt(
    id_vars='index', 
    var_name='Bin', 
    value_name='count_true'
)
true_bins_melted.rename(columns={'index': 'Time'}, inplace=True)

# Convert Bin column to integers (remove "Bin " prefix)
true_bins_melted['Bin'] = true_bins_melted['Bin'].str.extract(r'(\d+)').astype(int)

# Convert pred_bins_df into a 3-column DataFrame with count_pred
pred_bins_melted = pred_bins_df.reset_index().melt(
    id_vars='index', 
    var_name='Bin', 
    value_name='count_pred'
)
pred_bins_melted.rename(columns={'index': 'Time'}, inplace=True)

# Convert Bin column to integers (remove "Bin " prefix)
pred_bins_melted['Bin'] = pred_bins_melted['Bin'].str.extract(r'(\d+)').astype(int)

# Merge true and pred bins based on Time and Bin
combined_bins_df = pd.merge(true_bins_melted, pred_bins_melted, on=['Time', 'Bin'], how='outer')

# Display the result
display(combined_bins_df)

In [ ]:
import numpy as np
from sklearn.metrics import mean_squared_error

# Calculate RMSE for count_true and count_pred
rmse = np.sqrt(mean_squared_error(combined_bins_df['count_true'], combined_bins_df['count_pred']))

# Normalization factor K
K = 10

# Calculate the evaluation score
score = np.exp(-rmse / K)

# Print the results
print(f"RMSE: {rmse}")
print(f"Score: {score}")

### Save Model

In [ ]:
import xgboost as xgb

SAVE_PATH = "/projectnb/cs640grp/projects/noahark/523Proj/data/models"

# Assuming my_model is your trained XGBRegressor model
model_file_path = f"{SAVE_PATH}/xgboost_model_{ACODE}.json"

# Save the model
model.save_model(model_file_path)

print(f"Model saved to {model_file_path}")